<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What 2 Watch</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/122672fe47.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="wrapper">
        <header class="p-3 mb-2 bg-info">
            <h1>
                <a href="/" class="text-white">What2Watch</a>
            </h1>
            <nav>
                <a href="/" class="text-white">Nominations</a>
                {{#if loggedIn}}
                <a href="/dashboard" class="text-white">Nominate a Movie</a>
                <button id="logout" class="btn-no-style">Logout</button>
                {{else}}
                <a href="/login" class="text-white">Login</a>
                <a href="/signup" class="text-white">Sign up</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
    </div>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>