<section>
  <h2>What Would You Suggest?</h2>
  <p>Got a good movie suggestion? Nominate it. Your nomination will be added to the list of nominees for everyone to
    vote on. Whichever movie receives the most votes is the one you all watch.</p>
  <form class="new-post-form">
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="post-title">Movie Title</label>
        <input type="text" class="form-control" id="post-title" placeholder="Enter a Movie Title" />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="post-url">IMDb Link</label>
        <input type="text" class="form-control" id="post-url" placeholder="Enter an IMDb Link" />
        <small>Adding an IMDb link will allow others to learn more about the movie before making a voting
          decision.</small>
      </div>
    </div>
    <button type="submit" class="btn-success btn btn-info">Nominate</button>
  </form>
</section>

{{#if posts.length}}
<hr color="#17a2b8">
<div class="container">
  <section>
    <h2>Your Nominated Movies</h2>
<div class="row">
    {{#each posts as |post|}}
    {{> post-info post}}
    
    {{/each}}
</div>
  </section>
</div>
{{/if}}

<script src="/javascript/add-post.js"></script>