<h1>What Would You Like to Watch?</h1>
<p>Cast a single vote for the movie you would most like to see.  If you don't see one you like, nominate a movie.</p>
<h2>Nominees</h2>
<ul class="post-list">
    {{#each posts as |post|}}
    <li>
        {{> post-info post }}
    </li>
    {{/each}}
</ul>