<section>
    <h2>What Would You Like to Watch?</h2>
    <p>Cast a single vote for the movie you would most like to see most.</p>
    <h2>Nominees</h2>
    <div id="homepage">
        <div class="container">
            <div class="row mb-3 text-center">
                
                {{#each posts as |post|}}
                {{> post-info post }}
                {{/each}}
            
            </div>
        </div>
    </div>
</section>

{{#if loggedIn}}
<p>Don't see anything you like?<a href="/dashboard">Nominate a Movie</a></p>
{{/if}}

<script src="/javascript/homepage.js"></script>