<div class="login-form">
    <h2>Login</h2>
    <form class="login-form">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="email-login">Email</label>
                <input type="email" class="form-control" id="email-login" placeholder="Enter Email">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password-login">Password</label>
                <input type="password" class="form-control" id="password-login" placeholder="Enter Password">
            </div>
        </div>
        <button type="submit" class="btn-success btn btn-info">Login</button>
    </form>
</div>
<script src="/javascript/login.js"></script>
