<ol class="list-group">
  {{#each posts as |post|}}
  <li class="list-group-item list-group-item-info">
    {{> post-info post }}
  </li>
  {{/each}}
</ol>
{{#if loggedIn}}
<div>
  <button type="button" class="upvote-btn btn btn-info">Vote</button>
</div>
</form>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/upvote.js"></script>
{{/if}}